[run]
source = src
omit =
    */tests/*
    */__pycache__/*

[report]
exclude_lines =
    pragma: no cover
    @bot.command
    async def turnip
    async def register_user
    async def unregister_user
    async def set_turnip_price
    async def get_my_price
    async def get_target_price
    async def get_best_price
    async def what_is_my_island
    async def list_islands
    async def get_residents
    async def predict_turnips
    async def reset_week
    async def help_turnip
    if __name__ == .__main__.:

[html]
directory = htmlcov
